.container{
    position: relative;
    height: auto;
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
  background-image: url('https://img.freepik.com/premium-vector/dark-blue-vector-background-with-lava-shapes_6869-228.jpg?ga=GA1.1.277611718.1716361546&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 100px 0; */
    
}
.svg-parent{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
    /* height: 1500px; */
    height: 100%;
    padding-top: 280px;
    padding-left: 30%;
}
img{
    border-radius: 30px;
    position: relative;
    /* z-index: 2; */
}
.left{
    margin: 100px;
    margin-left: 530px;
}