.page,
.page2 {
  height: 100vh;
  width: 100%;
  padding-top: 1px;
}

.page {
  background-color: yellow;
}
.dem2{
    opacity: 0.2;
    padding: 0px;
    margin: 0px;
    font-size: 250px;
    text-wrap: nowrap;

}