
.parent{
    position: relative;
    width: 98vw;
    display: flex;
    justify-content: flex-start;
}
.box-a{
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 500px;
    margin-bottom: 900px;
    background-color: #87c485;

}
.box-b{
    position: absolute;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 500px;
    margin-bottom: 900px;
    background-color: #6dc46a;

}
.box-c{
    position: absolute;
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 500px;
    margin-bottom: 900px;
    background-color: #1ec018;
}
